.dash_link:hover {
  font-weight: bold;
  color: #212b36;
}
.dash_link:hover svg path {
  font-weight: bold;
  stroke: #212b36;
}
a:hover{
color: #212b36;
}

/* styles.css */
.image-cont2 {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease; /* Animation de 0.3 seconde avec une transition fluide */
}

.image-cont2:hover {
  transform: rotate(5deg); /* Incliner l'image de 5 degrés quand le curseur est dessus */
}